/* alert banner */
.alert-info {
text-align: center;
text-transform: uppercase;
letter-spacing: .1em;
font-size: 16px;
font-weight: 600;
color: navy;
}

/* background color */
body {
    background: lightskyblue;
  }

/* generate button */
button {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
}

/* copy to clipboard */
.copy {
    font-size: 9px;
    font-weight: 500;
    color: navy;
}

/* option styles */
.options {
    font-family: Helvetica, sans-serif;
    letter-spacing: .02em;
}

.container {
    padding: 10px;
    width: 500px;
    max-width: 100%;
}

.result-box {
    background-color: rgb(26, 73, 143);
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;
    width: 100%;
    height: 55px;
}

.options {

    align-items: center;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
    }
}

/* .result-box.btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
} */
