/* alert banner */
.alert-info {
text-align: center;
text-transform: uppercase;
letter-spacing: .1em;
font-size: 16px;
font-weight: 600;
color: navy;
}

/* background color */
body {
    background: lightskyblue;
  }

/* generate button */
button {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
}

/* option styles */
.options {
    font-family: Helvetica, sans-serif;
    letter-spacing: .02em;
    text-transform: lowercase;
}

